<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout}">
<head>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
</head>
<body>
<main layout:fragment="content">
	<div th:replace="admin/moderation/product-body"></div>
</main>

<div layout:fragment="custom-scripts">
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="/scripts/publication/product-add-properties-global.js"></script>
	<script src="/scripts/publication/product-add-properties-photos.js"></script>
	<script src="/admin/scripts/moderation-product.js"></script>
	<script src="/scripts/load-image.all.min.js"></script>
</div>

</body>
</html>