
<footer>
  <div class="row big-padding-y">
    <div class="column small-12 large-4 text-center footer-bdr-r footer-bdr-b footer-bdr-t small-big-padding-bottom">
      <h4 class="h4 bottomSection-title">Пригласить друзей</h4>
      <a class="bottomSection-link" href="/info/priglasit-druzej" title="Узнать больше">
        <span>Узнать больше</span>
      </a>
    </div>
    <div class="column small-12 large-4 text-center small-big-margin-y footer-bdr-r footer-bdr-b footer-bdr-t small-big-padding-bottom">
      <h4 class="h4 bottomSection-title">Подарочный сертификат</h4>
      <a class="bottomSection-link" href="/gift-card" title="Узнать больше">
        <span>Узнать больше</span>
      </a>
    </div>
    <div class="column small-12 large-4 text-center footer-bdr-t">
      <h4 class="h4 bottomSection-title">Стать нашим партнером</h4>
      <a class="bottomSection-link" href="/partner" title="Узнать больше">
        <span>Узнать больше</span>
      </a>
    </div>
  </div>
</footer>
<div class="footer_bg_wrapper">
  <nav class="row small-up-1 large-up-3 footer_menu_new">
    <div class="column footer_menu_item">
      <div class="footer_menu_item_wrapper">
        <ul>
          <li>
            <h4>О компании</h4>
          </li>
          <li><a href="/info/o-proekte" title="О проекте">О проекте</a></li>
          <li><a href="/welcome" title="Как это работает">Как это работает</a></li>
          <li><a href="/info/pravila-prodazh" title="Правила продаж">Правила продаж</a></li>
          <li><a href="/info/oferta" title="Оферта">Оферта</a></li>
          <li><a href="/info/politika-konfidencialnosti" title="Политика конфеденциальности">Политика конфеденциальности</a></li>
          <li><a href="/info/nasha-komissiya" title="Наша комиссия">Наша комиссия</a></li>
        </ul>
      </div>
    </div>
    <div class="column footer_menu_item">
      <div class="footer_menu_item_wrapper">
        <ul>
          <li>
            <h4>Услуги</h4>
          </li>
          <li><a href="/gift-card" title="Подарочный сертификат">Подарочный сертификат</a></li>
          <li><a href="/concierge-service" title="Консьерж-сервис">Консьерж-сервис</a></li>
          <li><a href="/info/turbo-prodazha-i-ekspress-vykup" title="Турбо-продажа и экспресс-выкуп">Экспресс-выкуп</a></li>
          <li><a href="/makeoffer" title="VIP-сервис">Предлагайте свою цену </a></li>
          <li><a href="/info/aukcion" title="Аукцион">Аукцион</a></li>
          <li><a href="/info/himchistka" title="Химчистка">Химчистка</a></li>
        </ul>
      </div>
    </div>
    <div class="column footer_menu_item">
      <div class="footer_menu_item_wrapper">
        <ul>
          <li>
            <h4>Клиентам</h4>
          </li>
          <li><a href="/info/kontakty" title="Контакты">Контакты</a></li>
          <li><a href="/info/dostavka-i-vozvrat" title="Доставка и возврат">Доставка и возврат</a></li>
          <li><a href="/info/oplata" title="Оплата">Оплата</a></li>
          <!--/*<li><a href="/info/bally-i-rejting" title="Баллы и рейтинги">Баллы и рейтинги</a></li>*/-->
          <li><a href="/info/stat-partnerom" title="Стать партнером">Стать партнером</a></li>
          <li><a href="/info/faq" title="FAQ">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="footer_line"></div>
  <nav class="row small-up-1 large-up-3 footer_menu_new">
    <div class="column footer_menu_item">
      <div class="footer_menu_ico_wrapper">
        <ul class="footer-networking menu">
          <li><a href="https://www.youtube.com/channel/UCp2_cHmFYSlS0bITJs9fhfQ?sub_confirmation=1" target="_blank" title="YouTube" class="footer-networking-icon">
            <div class="show-for-sr">YouTube</div><span class="fa fa-fw fa-youtube"></span></a></li>
          <li><a href="https://www.instagram.com/oskellyofficial/" target="_blank" title="Instagram" class="footer-networking-icon">
            <div class="show-for-sr">Instagram</div><span class="fa fa-fw fa-instagram"></span></a></li>
          <li><a href="https://www.facebook.com/Oskelly-1806794169642059/?fref=ts" target="_blank" title="Facebook" class="footer-networking-icon">
            <div class="show-for-sr">Facebook</div><span class="fa fa-fw fa-facebook"></span></a></li>
          <li><a href="https://vk.com/public144997048" target="_blank" title="ВКонтакте" class="footer-networking-icon">
            <div class="show-for-sr">ВКонтакте</div><span class="fa fa-fw fa-vk"></span></a></li>
          <li><a href="https://ok.ru/group/55421112483870" target="_blank" title="OK.RU" class="footer-networking-icon">
            <div class="show-for-sr">OK.RU</div><span class="fa fa-fw fa-odnoklassniki"></span></a></li>
          <li><a href="https://telegram.org" target="_blank" title="Telegram" class="footer-networking-icon">
            <div class="show-for-sr">Telegram</div><span class="fa fa-fw fa-telegram"></span></a></li>
          <li><a href="https://twitter.com/OskellyOfficial" target="_blank" title="Twitter" class="footer-networking-icon">
            <div class="show-for-sr">Twitter</div><span class="fa fa-fw fa-twitter"></span></a></li>
          <li><a href="https://www.pinterest.com/oskellyofficial/" target="_blank" title="Pinterest" class="footer-networking-icon">
            <div class="show-for-sr">Pinterest</div><span class="fa fa-fw fa-pinterest-p"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="column footer_menu_item">
      <div class="footer_menu_ico_wrapper"><a href="/app" title="Мобильные приложения OsKelly"><span class="text-uppercase">Наши приложения<img class="footer_app_image" src="images/social-icons/apps.svg" alt="Мобильные приложения OsKelly" th:src="@{/images/social-icons/apps.svg}"></span></a></div>
    </div>
    <div class="column footer_menu_item">
      <div class="footer_menu_ico_wrapper">
        <div class="row"><span class="text-uppercase nowrap">Mы принимаем<img src="images/payments/visa-mastercard.svg" th:src="@{/images/payments/visa-mastercard.svg}" alt="Visa, MasterCard"></span></div>
      </div>
    </div>
  </nav>
</div>