<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <p>Здравствуйте<span th:if="${name}" th:text="|, ${name}|"></span>!</p>
      <p>Вы получили это письмо, т.к. запросили восстановление пароля для входа на сайт <a href="https://oskelly.ru">oskelly.ru</a>.</p>
      <p>Вам нужно перейти на сайт по <a href="#" th:href="${resource}">ссылке</a> в течение 2-х часов и указать новый пароль.</p>
      <p>С уважением, команда OSKELLY</p>
  </body>
</html>