
<div class="topBarMenu" th:fragment="topBarMenu">
	<div class="row topBarMenu-size align-middle">
		<div class="column large-3 topBarMenu-guarantee" style="position: relative">
			<img src="/images/icons/warranty.svg" alt="гарантия подлинности">
			<a href="/info/garantiya-podlinnosti" class="menu-text" data-toggle="guarantee-dropdown">
				Гарантия подлинности
			</a>
			<div
				class="dropdown-pane bottom topBarMenu-dropdown" id="guarantee-dropdown" data-dropdown="" data-hover="true"
			>
				<p>
					Наш сервис берёт на себя заботу по проверке оригинального происхождения, качества и соответствия товара
					заявленным характеристикам
				</p>
			</div>
		</div>
		<div class="column large-3 topBarMenu-quality" style="position: relative">
			<img src="/images/icons/quality.svg" alt="контроль качества">
			<a href="/info/kontrol-kachestva" class="menu-text" data-toggle="quality-dropdown">
				Контроль качества
			</a>
			<div class="dropdown-pane bottom topBarMenu-dropdown" id="quality-dropdown" data-dropdown="" data-hover="true">
				<p>
					В нашей команде лучше эксперты мирового рынка. Каждый товар на OSKELLY проходит полноценную экспертизу
					качества
				</p>
			</div>
		</div>
		<div class="column large-3 topBarMenu-payment" style="position: relative">
			<img src="/images/icons/payment-system.svg" alt="безопасная оплата">
			<a href="/info/bezopasnaya-oplata" class="menu-text" data-toggle="payment-dropdown">
				Безопасная оплата
			</a>
			<div class="dropdown-pane bottom topBarMenu-dropdown" id="payment-dropdown" data-dropdown="" data-hover="true">
				<p>
					Безопасность сделки и доставки покупок гарантируем мы, страховая компания и наш банк-партнер
				</p>
			</div>
		</div>
		<div class="column large-3 topBarMenu-support" style="position: relative">
			<img src="/images/icons/info.svg" alt="помощь и поддержка">
			<a href="/info/pomosch-i-podderzhka" class="menu-text" data-toggle="help-dropdown">
				Помощь и поддержка
			</a>
			<div class="dropdown-pane bottom topBarMenu-dropdown" id="help-dropdown" data-dropdown="" data-hover="true">
				<p>
					При возникновении каких-либо вопросов вы всегда можете обратиться в нашу службу поддержки
				</p>
			</div>
		</div>
	</div>
</div>
