.button:hover {
    text-decoration: underline;
}

.page-preview {
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;

    padding: 0 13px 15px 13px;
    margin-bottom: 20px;
}

.page-preview .preview-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.page-preview .preview-header .page-name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.page-preview .preview-header .page-url {
    font-weight: bold;
}

.page-preview .preview-header .edit-page-button {
    margin-top: 8px;
    width: 70px;
}

a:hover {
    text-decoration: underline;
}
