<!DOCTYPE html>
<html class="no-js" lang="ru_RU"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{profile/profile}" th:with="pageStyle='profilePage'">

<!--/*@thymesVar id="profileView" type="su.reddot.domain.service.profile.ProfileView"*/-->

<body class="productPage">
<div role="main" layout:fragment="profileContent">

	<h3 class="h5 text-serif">Информация о вас</h3>

	<form class="offset-y" id="personal-info-form">
		<div class="offset-y_small row">
			<div class="medium-11 columns">
				<div class="row">
					<div class="column">
						<h4 class="text-strong">Персональная информация</h4>
					</div>
					<div class="shrink column">
						<button id="personal-info-edit-button" class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Редактировать</em>
						</button>
						<button style="display: none;" id="personal-info-save-button" class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Сохранить</em>
						</button>
					</div>
				</div>
				<hr class="hr_no-top">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-name">Имя:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input name="name" disabled="disabled" th:value="${profileView.user.deliveryRequisite?.deliveryName}?: _" class="styledTextInput styledTextInput_secondary" id="user-profile-name" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-birthdate-day">Дата рождения:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input name="birthDate" disabled="disabled" class="styledTextInput styledTextInput_secondary" id="user-profile-birthdate-day" type="date"
					   th:value="${profileView.editableBirthDate}">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-phone">Телефон:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input name="phone" disabled="disabled" th:value="${profileView.user.deliveryRequisite?.deliveryPhone}?: _"
					   class="styledTextInput styledTextInput_secondary" id="user-profile-phone" type="text">
			</div>
		</div>
	</form>

	<form class="offset-y" id="personal-address-form">
		<div class="offset-y_small row">
			<div class="medium-11 columns">
				<div class="row">
					<div class="column">
						<h4 class="text-strong">Доставка</h4>
					</div>
					<div class="shrink column">
						<button id="personal-address-edit-button" class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Редактировать</em>
						</button>
						<button id="personal-address-save-button" style="display: none;" class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Сохранить</em>
						</button>
					</div>
				</div>
				<hr class="hr_no-top">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-delivery-country">Страна:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="country" disabled="disabled" class="styledTextInput styledTextInput_secondary"
					   id="user-profile-delivery-country" type="text"
					   th:value="${profileView.user.deliveryRequisite?.deliveryCountry}?: _" value="Россия">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-delivery-index">Индекс:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="zipCode" disabled="disabled" th:value="${profileView.user.deliveryRequisite?.deliveryZipCode}?: _" class="styledTextInput styledTextInput_secondary" id="user-profile-delivery-index" placeholder="Заполняется автоматически" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-delivery-city">Город:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input name="city" disabled="disabled" th:value="${profileView.user.deliveryRequisite?.deliveryCity}?: _" class="styledTextInput styledTextInput_secondary" id="user-profile-delivery-city" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-delivery-address">Адрес:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="address" disabled="disabled" th:value="${profileView.user.deliveryRequisite?.deliveryAddress}?: _"  class="styledTextInput styledTextInput_secondary" id="user-profile-delivery-address" type="text">
			</div>
			<input type="hidden" id="user-profile-delivery-extensive-address" th:value="${profileView.user.deliveryRequisite?.deliveryExtensiveAddress}?: _">
		</div>
	</form>

	<form class="offset-y" id="seller-form">
		<div class="offset-y_small row">
			<div class="medium-11 columns">
				<div class="row">
					<div class="column">
						<h4 class="text-strong">Реквизиты</h4>
					</div>
					<div class="shrink column">
						<button id="seller-edit-button" class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Редактировать</em>
						</button>
						<button id="seller-save-button" style="display: none;" class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Сохранить</em>
						</button>
					</div>
				</div>
				<hr class="hr_no-top">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Фамилия:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="lastName" disabled="disabled"
					   th:value="${profileView.user.sellerRequisite?.lastName}?: _"
					   class="styledTextInput styledTextInput_secondary"  type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Имя:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="firstName" disabled="disabled"
					   th:value="${profileView.user.sellerRequisite?.firstName}?: _" class="styledTextInput styledTextInput_secondary"  type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Название компании:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="companyName" disabled="disabled"
					   th:value="${profileView.user.sellerRequisite?.companyName}?: _" class="styledTextInput styledTextInput_secondary"  type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Телефон:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="phone" disabled="disabled"
					   th:value="${profileView.user.sellerRequisite?.phone}?: _" class="styledTextInput styledTextInput_secondary"  type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Индекс:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="zipCode" disabled="disabled" th:value="${profileView.user.sellerRequisite?.zipCode}?: _"
					   class="styledTextInput styledTextInput_secondary"  type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-city">Город:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input name="city" disabled="disabled" th:value="${profileView.user.sellerRequisite?.city}?: _" class="styledTextInput styledTextInput_secondary" id="user-profile-city" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Адрес:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="address" disabled="disabled" th:value="${profileView.user.sellerRequisite?.address}?: _"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Паспорт:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="passport" disabled="disabled" th:value="${profileView.user.passport}"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">ИНН:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="INN" disabled="disabled" th:value="${profileView.user.INN}"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">ОГРНИП:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="OGRNIP" disabled="disabled" th:value="${profileView.user.OGRNIP}"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">ОГРН:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="OGRN" disabled="disabled" th:value="${profileView.user.OGRN}"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">КПП:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="KPP" disabled="disabled" th:value="${profileView.user.KPP}"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">БИК:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="BIK" disabled="disabled" th:value="${profileView.user.paymentRequisite?.BIK}?: _"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Корреспондентский счет:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="correspondentAccount" disabled="disabled" th:value="${profileView.user.paymentRequisite?.correspondentAccount}?: _"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle">Лицевой/Расчетный счет:</label>
			</div>
			<div class="small-6 medium-8 columns">
				<input name="paymentAccount" disabled="disabled" th:value="${profileView.user.paymentRequisite?.paymentAccount}?: _"  class="styledTextInput styledTextInput_secondary" type="text">
			</div>
		</div>
	</form>
    <!--/* Не реализовано -->
	<form class="offset-y">
		<div class="offset-y_small row">
			<div class="medium-11 columns">
				<div class="row">
					<div class="column">
						<h4 class="text-strong">Размеры</h4>
					</div>
					<div class="shrink column">
						<button class="transparent small hollow tight button" type="button"><span class="fa fa-flip-horizontal fa-pencil text-underlined"></span> <em>Редактировать</em>
						</button>
					</div>
				</div>
				<hr class="hr_no-top">
			</div>
		</div>
		<div class="row column">
			<input class="styledRadio" id="user-profile-sizes-gender-male" type="radio" name="user-profile-sizes-gender" value="1" checked="checked">
			<label class="text-size-large offset-y_small" for="user-profile-sizes-gender-male">Мужчина</label>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-sizes-male-shoes">Размер обуви:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input class="styledTextInput styledTextInput_secondary" id="user-profile-sizes-male-shoes" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-sizes-male-outwear">Верхняя одежда:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input class="styledTextInput styledTextInput_secondary" id="user-profile-sizes-male-outwear" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-sizes-male-pants">Брюки:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input class="styledTextInput styledTextInput_secondary" id="user-profile-sizes-male-pants" type="text">
			</div>
		</div>
		<div class="row column">
			<input class="styledRadio" id="user-profile-sizes-gender-female" type="radio" name="user-profile-sizes-gender" value="0">
			<label class="text-size-large offset-y_small" for="user-profile-sizes-gender-female">Женщина</label>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-sizes-male-shoes">Размер обуви:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input class="styledTextInput styledTextInput_secondary" id="user-profile-sizes-male-shoes" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-sizes-male-outwear">Верхняя одежда:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input class="styledTextInput styledTextInput_secondary" id="user-profile-sizes-male-outwear" type="text">
			</div>
		</div>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<label class="middle" for="user-profile-sizes-male-pants">Брюки:</label>
			</div>
			<div class="small-6 medium-5 columns">
				<input class="styledTextInput styledTextInput_secondary" id="user-profile-sizes-male-pants" type="text">
			</div>
		</div>
	</form>
	<!-- Не реализовано */-->

</div>
</body>
</html>