<!DOCTYPE html>
<html class="no-js" lang="ru_RU"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{new/layout}" th:with ="pageStyle='blogArticle'">
<head>
	<meta name="description" th:if="${page.metaDescription}" th:content="${page.metaDescription}"/>
	<meta name="keywords" th:if="${page.metaKeywords}" th:content="${page.metaKeywords}"/>
	<title th:text="${page.name} +' - OSKELLY.RU'"></title>
</head>
<body>
<main role="main" layout:fragment="content">
	<div class="row column">
		<div class="article"><span class="article-meta text-uppercase" th:text="${page.tag.name}+' | '+${foramatedData}" >Иконы стиля | 21 июля 2017</span>
			<h1 class="article-title text-uppercase" th:text="${page.name}">Заголовок страницы</h1>

			<div th:remove="tag" th:utext="${page.content}"></div>
		</div>
	</div>
</main>


</body>
</html>