<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>oskelly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4251667F1EB1DF6B008DB6D5</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>425166931EB1DF6B008DB6D5</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>4251669E1EB1DF6B008DB6D5</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
