<!DOCTYPE html>
<html class="no-js" lang="ru_RU"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{new/layout}" th:with="pageStyle='profilePage'">
    <head></head>
    <body>
        <main role="main" layout:fragment="content">
            <div class="row app-page-container">
                <div class="column">
                    <div class="row app-page-header align-middle">
                        <div class="column app-page-space landing-page-space-top-and-bottom">
                            <div class="row align-middle">
                                <div class="column small-12 large-2 small-text-center">
                                    <h1 class="app-page-header-title large-padding-left">
                                        Мобильное приложени
                                    </h1>
                                </div>
                            </div>
                            <div class="row align-middle">
                                <div class="column small-12 large-5 small-text-center">
                                    <p class="landing-page-subtitle landing-page-header-grey-color large-padding-left">
                                        Получите доступ к огромной коллекции брендов  с мобильным приложением OSKELLY!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column app-page-orange">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                           <div class="row align-middle landing-page-space-top-and-bottom">
                               <div class="column small-12 large-4 text-center large-padding-left">
                                   <img class="app-page-img" src="/images/pictures/iphone.png">
                               </div>
                               <div class="column small-12 large-6 small-text-center">
                                   <p class="app-page-text-title">
                                       Получайте мгновенные уведомления о продажах, заказах и торгах.<br>
                                       Покупайте и продавайте в один клик!
                                   </p>
                                   <p class="app-page-body-text">
                                       Более 10 000 модных образов всегда с вами, где бы вы ни находились: новые
                                       и винтажные товары от Chanel до Vetements, вещи на каждый день
                                       и для особого случая, для нее, для него и детей.
                                   </p>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>