<!DOCTYPE html>
<html class="no-js" lang="ru_RU"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{new/layout}" th:with="pageStyle='profilePage'">
<head></head>
<body>
<main role="main" layout:fragment="content">
  <div class="buy-page-container row">
    <div class="column">
      <div class="row">
        <div class="buy-page-header column">
          <div class="row align-center">
            <div class="column small-12">
              <aside class="landing-page-nav">
                <ul>
                  <li><a href="/welcome" class="landing-page-nav-link"><span class="text-uppercase">Oskelly</span></a></li>
                  <li><a href="#" class="landing-page-nav-link landing-page-nav-link-active">Покупайте</a></li>
                  <li><a href="/sell" class="landing-page-nav-link">Продавайте</a></li>
                </ul>
              </aside>
            </div>
          </div>
          <div class="row align-center">
            <div class="column small-12 large-8 text-center">
              <h1 class="landing-page-header-title landing-page-header-space">Покупайте на OSKELLY</h1>
            </div>
          </div>
          <div class="row align-center">
            <div class="column small-12 large-9 text-center">
              <h2 class="landing-page-subtitle landing-page-header-space">
                Откройте для себя большой выбор роскошных вещей высокого качества по привлекательным ценам!
                Ежедневно наш интернет-магазин пополняется новыми товарами самых известных мировых брендов –
                Chanel, Louis Vuitton, Isabel Marant, Celine, Gucci, Burberry, Versace, Prada и других.
              </h2>
            </div>
          </div>
          <div class="row align-center">
            <div class="column text-center landing-page-header-space">
              <a href="/catalog/just-in" class="landing-page-slide-action-button">Купить</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="landing-page-slide column small-text-center">
          <div class="row align-center">
            <div class="column small-12 text-center">
              <h4 class="landing-page-slide-title">Как покупать на OSKELLY?</h4>
            </div>
          </div>
          <div class="row align-middle align-center landing-page-space">
            <div class="column small-12 large-2">
              <div class="landing-page-slide-icon"><img src="images/icons/1.svg"></div>
            </div>
            <div class="column small-12 large-6">
              <p class="landing-page-slide-text">
                Перед публикацией все товары проходят модерацию:
                мы убеждаемся соответствует ли описание реальному состоянию вещи и не завышена ли цена.
              </p>
            </div>
          </div>
          <div class="row align-middle align-center landing-page-space">
            <div class="column small-12 large-2">
              <div class="landing-page-slide-icon"><img src="images/icons/2.svg"></div>
            </div>
            <div class="column small-12 large-6">
              <p class="landing-page-slide-text">
                При покупке сумма, равная стоимости товара, замораживается на карте покупателя.
                После того как продавец подтвердит сделку, товар поступает нам.
              </p>
            </div>
          </div>
          <div class="row align-middle align-center landing-page-space">
            <div class="column small-12 large-2">
              <div class="landing-page-slide-icon"><img src="images/icons/3.svg"></div>
            </div>
            <div class="column small-12 large-6">
              <p class="landing-page-slide-text">
                Деньги списываются с карты, когда мы проведем экспертизу и убедимся,
                что товар - подлинный. Наши курьеры доставят его вам в заранее согласованное время.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="landing-page-slide column">
          <div class="row">
            <div class="buy-page-slideImage column small-12 large-5"><img src="images/pictures/buypage-1.png"
                                                                          alt="сумка на oskelly"></div>
            <div class="buy-page-slideContent column small-12 large-7 text-center">
              <h4 class="landing-page-slide-title">Гарантия подлинности</h4>
              <p class="landing-page-space">
                Оригинальное происхождение и качество товара гарантированы: перед отправкой
                покупателю все товары проверяются  нашими экспертами.
              </p><a href="/info/garantiya-podlinnosti" class="landing-page-slide-action-button">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="landing-page-slide column">
          <div class="row">
            <div class="column small-12 large-4 text-center">
              <div class="landing-page-slide-icon"><img src="images/icons/buypage-2-ico-slide-1.svg"></div>
              <p class="landing-page-slide-text landing-page-space"><strong>Борьба с контрафактом</strong></p>
              <p class="landing-page-slide-text">
                Команда опытных экспертов OSKELLY призвана выявлять контрафактную
                продукцию и поддерживать высокие стандарты качества.
              </p>
            </div>
            <div class="column small-12 large-4 text-center">
              <div class="landing-page-slide-icon"><img src="images/icons/buypage-2-ico-slide-2.svg"></div>
              <p class="landing-page-slide-text landing-page-space"><strong>Описание товара</strong></p>
              <p class="landing-page-slide-text">
                При проверке товара мы убеждаемся в том, что бренд, цвет и размер
                соответствуют описанию продавца.
              </p>
            </div>
            <div class="column small-12 large-4 text-center">
              <div class="landing-page-slide-icon"><img src="images/icons/buypage-2-ico-slide-3.svg"></div>
              <p class="landing-page-slide-text landing-page-space"><strong>Состояние товара</strong></p>
              <p class="landing-page-slide-text">
                В случае, если будут найдены расхождения между реальным состоянием и описанием товара,
                мы предложим вам новую цену. Вы так же можете отменить заказ.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="landing-page-slide column">
          <div class="row align-center">
            <div class="column small-12 large-7 text-center landing-page-space">
              <h4 class="landing-page-slide-title">Наши эксклюзивные услуги</h4>
            </div>
          </div>
          <div class="row">
            <div class="column small-12 large-4 text-center">
              <div class="row">
                <div class="column">
                  <div class="landing-page-slide-icon"><img src="images/icons/s3-1.svg"></div>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-min-size-12">
                  <p class="landing-page-slide-text landing-page-space"><strong>Приложение OSKELLY</strong></p>
                  <p class="landing-page-slide-text landing-page-space">
                    Где бы вы ни находились – бренды всегда  с вами!
                    Совершайте покупки и продажи в мобильном приложении OSKELLY.
                    Доступно в AppStore и Google Play.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-space"><a href="/app" class="landing-page-slide-action-button">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="column small-12 large-4 text-center">
              <div class="row">
                <div class="column">
                  <div class="landing-page-slide-icon"><img src="images/icons/s3-2.svg"></div>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-min-size-12">
                  <p class="landing-page-slide-text landing-page-space"><strong>Сообщить о наличии</strong></p>
                  <p class="landing-page-slide-text landing-page-space">
                    Не упустите свою вещь: создайте оповещение для интересующего вас товара,
                    и вы получите уведомление сразу, как только он станет доступен на сайте.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-space"><a href="/info/soobshchit-o-nalichii"
                                                      class="landing-page-slide-action-button">Подробнее</a></div>
              </div>
            </div>
            <div class="column small-12 large-4 text-center">
              <div class="row">
                <div class="column">
                  <div class="landing-page-slide-icon"><img src="images/icons/s3-3.svg"></div>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-min-size-12">
                  <p class="landing-page-slide-text landing-page-space"><strong>Сделайте предложение</strong></p>
                  <p class="landing-page-slide-text landing-page-space">Вы можете предложить свою цену продавцу. Покупайте
                    любимые бренды по самым приятным ценам.</p>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-space"><a href="/makeoffer" class="landing-page-slide-action-button">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column small-12 large-4 text-center">
              <div class="row">
                <div class="column">
                  <div class="landing-page-slide-icon"><img src="images/icons/s3-5.svg"></div>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-min-size-10">
                  <p class="landing-page-slide-text landing-page-space"><strong>Баллы и рейтинги</strong></p>
                  <p class="landing-page-slide-text landing-page-space">Зарабатывайте баллы на покупках и продажах и оплачивайте
                    ими новые приобретения на OSKELLY.</p>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-space"><a href="#" class="landing-page-slide-action-button">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="column small-12 large-4 text-center">
              <div class="row">
                <div class="column">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/s3-7.svg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-min-size-10">
                  <p class="landing-page-slide-text landing-page-space"><strong>Следить за понижением цены</strong></p>
                  <p class="landing-page-slide-text landing-page-space">Отслеживайте изменения стоимости товаров в личном
                    кабинете.</p>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-space">
                  <a href="/info/otslezhivanie-ceny" class="landing-page-slide-action-button">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="column small-12 large-4 text-center">
              <div class="row">
                <div class="column">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/s3-8.svg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="column landing-page-min-size-10">
                  <p class="landing-page-slide-text landing-page-space"><strong>Wish list</strong></p>
                  <p class="landing-page-slide-text landing-page-space">
                    Сохраняйте понравившиеся товары в Wish list.
                    Ваши близкие смогут узнать, какой подарок обрадует Вас!
                  </p>
                </div>
              </div>
              <div class="row align-bottom">
                <div class="column landing-page-space">
                  <a href="/account/wishlist" class="landing-page-slide-action-button">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 text-center">
          <p class="landing-page-help-text">Остались вопросы? Обратитесь в&nbsp;<a href="/info/pomosch-i-podderzhka">службу поддержки</a>
          </p>
          <hr>
          <aside class="landing-page-nav">
            <ul>
              <li><a href="/welcome" class="landing-page-nav-link">OSKELLY</a></li>
              <li><a href="#" class="landing-page-nav-link landing-page-nav-link-active">Покупайте</a></li>
              <li><a href="/sell" class="landing-page-nav-link">Продавайте</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>