<!DOCTYPE html>
<html
	class="no-js" lang="ru_RU"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{new/layout}" th:with="pageStyle='profilePage'"
>
<head></head>
<body>
<main role="main" layout:fragment="content">
	<div class="row concierge-service-page">
		<div class="column small-12">
			<div class="row align-center">
				<div class="column small-12 large-8 text-center big-padding-top">
					<h1 class="landing-page-header-title">Консьерж Сервис</h1>
				</div>
				<div class="column small-12 large-8 text-center padding-y">
					<img src="/images/icons/dot-separated-by-thin-lines.svg" class="padding-y">
				</div>
				<div class="column small-12 large-8 text-center padding-bottom">
					<h2 class="landing-page-subtitle landing-page-header-grey-color padding-bottom">
						Вы хотите продать брендовые предметы своего гардероба,  но боитесь, что
						это отнимет много времени?
					</h2>
					<h2 class="landing-page-subtitle landing-page-header-grey-color">
						Для наших самых требовательных клиентов мы создали «Консьерж-сервис»,
						который максимально упрощает процесс онлайн-продаж на сайте.
					</h2>
					<h4 class="landing-page-subtitle landing-page-header-grey-color">
						Чтобы воспользоваться услугой «Консьерж-сервис», <a href="mailto:concierge@oskelly.ru?subject=запрос с сайта">напишите заявку.</a>
					</h4>
				</div>
				<div class="small-12 text-center">
					<img class="concierge-service-page-img" src="/images/icons/ding.svg">
				</div>
			</div>
			<div class="row align-center">
				<div class="column small-12 text-center">
					<h1 class="landing-page-slide-title">Описание усуги</h1>
				</div>
				<div class="column small-12 large-8 text-center landing-page-space">
					<h4 class="landing-page-subtitle">
						Вам нужно только оставить запрос, а мы позаботимся обо всем
						остальном: заберем ваши вещи и подготовим их к продаже, сделаем профессиональные фотографии и описание,
						организуем хранение и, собственно, продадим их на OSKELLY. Вам останется лишь получить прибыль!
					</h4>
				</div>
				<div class="column small-12 text-center">
					<div class="row">
						<div class="column small-12 large-4">
							<div class="landing-page-slide-icon text-center">
								<img src="/images/icons/1.svg">
							</div>
							<p>
								Вы оставляете запрос на сайте, и мы выезжаем к вам на помощь. Наша команда позаботится о бережном
								вывозе вещей в удобное для вас время и доставит их в наш офис.
							</p>
						</div>
						<div class="column small-12 large-4">
							<div class="landing-page-slide-icon text-center">
								<img src="/images/icons/2.svg">
							</div>
							<p>
								Мы создадим персональную карточку товара с подробным описанием вещи и профессиональными фото и
								опубликуем ее на сайте.
							</p>
						</div>
						<div class="column small-12 large-4">
							<div class="landing-page-slide-icon text-center">
								<img src="/images/icons/3.svg">
							</div>
							<p>
								Мы будем управлять вашими продажами, а вы – получать прибыль от них!
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column small-12 landing-page-slide text-center">
					<div class="row">
						<div class="column small-12">
							<h2 class="landing-page-slide-title">Условия пользования услугой «Консьерж-сервис»</h2>
						</div>
						<div class="column small-12 big-padding-y">
							<div class="row align-center">
								<div class="small-12 large-3">
									<img class="small-margin-l small-padding-bottom" src="/images/icons/35-pers.svg">
								</div>
								<div class="small-12 large-3">
									<img class="small-margin-l" src="/images/icons/10-items.svg">
								</div>
							</div>
						</div>
						<div class="column small-12 big-padding-bottom">
							<h4 class="landing-page-subtitle">
								Чтобы воспользоваться услугой «Консьерж-сервис», <a href="mailto:concierge@oskelly.ru?subject=запрос с сайта">напишите заявку.</a>
							</h4>
							<h4 class="landing-page-subtitle">
								В заявке укажите приблизительные бренды, количество вещей, ФИО иконтактный телефон.
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>