<!DOCTYPE html>
<html
	class="no-js" lang="ru_RU"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{new/layout}" th:with="pageStyle='profilePage'"
>
<head></head>
<body>
<main role="main" layout:fragment="content">
	<div class="row">
		<div class="column small-12 proposal-page-container">
			<div class="row">
				<div class="column small-12 text-center">
					<h1 class="landing-page-header-title big-padding-top">Предлагайте свою цену</h1>
				</div>
			</div>
			<div class="row">
				<div class="column small-12 text-center">
					<h2 class="landing-page-slide-title">Как это работает</h2>
					<p class="landing-page-slide-text landing-page-header-grey-color big-padding-bottom">
						Вы покупаетель? Узнайте, как предложить свою цену
					</p>
				</div>
			</div>
			<div class="row align-center">
				<div class="column small-12 large-3 small-text-center">
					<div class="row proposal-p-t">
						<div class="column small-12 text-center landing-page-slide-icon">
							<img class="page-section-img-padding" src="/images/icons/one.svg">
						</div>
						<div class="column small-12 small-text-center">
							<p class="landing-page-slide-text padding-bottom">
								<strong>Предложите свою цену</strong>
							</p>
							<p class="landing-page-slide-text">
								Готовы купить товар дешевле? Сообщите об этом продавцу через функцию «Сделать мне предложение».
								Ваше предложение не может быть ниже 70% от стартовой цены товара.
							</p>
						</div>
					</div>
				</div>
				<div class="column small-12 large-4 text-center">
					<img class="page-section-img-padding big-padding-y" width="225" src="/images/pictures/iphone-rose-gold.png">
				</div>
				<div class="column small-12 large-3 small-text-center">
					<div class="row proposal-p-t">
						<div class="column small-12 text-center landing-page-slide-icon">
							<img class="page-section-img-padding" src="/images/icons/two.svg">
						</div>
						<div class="column small-12">
							<p class="landing-page-slide-text padding-bottom">
								<strong>Договоритесь о цене</strong>
							</p>
							<p class="landing-page-slide-text padding-bottom">
								Во время переговоров продавец и покупатель могут трижды предлагать свою цену.
								Начните диалог, чтобы прийти к компромиссу!
							</p>
							<p class="landing-page-slide-text">
								Когда продавец получит предложение, он может его одобрить,
								отклонить или предложить свою цену.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="column small-12 text-center">
			<p class="landing-page-slide-text landing-page-header-grey-color big-padding-y">
				Функция «Сделать мне предложение» для пользователей открывается через
				7 дней после публикации товара продавцом.
			</p>
		</div>
	</div>
</main>
</body>
</html>