<!DOCTYPE html>
<html class="no-js" lang="ru_RU"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{new/layout}" th:with="pageStyle='profilePage'">
<head></head>
<body>
<main role="main" layout:fragment="content">
  <div class="partner-page-container row">
    <div class="column">
      <!--/*Header*/-->
      <div class="row partner-page-header">
        <div class="column small-12 text-center partner-page-header-space">
          <h1 class="landing-page-header-title landing-page-header-space">
            Продавай с нами
          </h1>
          <h2 class="landing-page-subtitle landing-page-header-grey-color">
            OSKELLY – это миллионы выгодных и быстрых продаж.
          </h2>
          <h2 class="landing-page-subtitle landing-page-header-grey-color landing-page-header-space">
            Откройте свой гардероб для истинных любителей моды.
          </h2>
        </div>
        <div class="column small-12">
          <div class="row">
            <div class="column text-center">
              <h1 class="landing-page-slide-title">
                Как начать продавать на OSKELLY?
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="column small-12">
              <div class="row align-middle align-center">
                <div class="column small-12 large-1 text-center">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/1.svg">
                  </div>
                </div>
                <div class="column small-12 large-7 small-text-center">
                  <p>
                    Добавляйте товары на продажу в два клика через сайт или мобильное приложение.
                    Все остальное сделаем мы.
                  </p>
                </div>
              </div>
            </div>
            <div class="column small-12">
              <div class="row align-middle align-center">
                <div class="column small-12 large-1 text-center">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/2.svg">
                  </div>
                </div>
                <div class="column small-12 large-7 small-text-center">
                  <p>
                    Покупатель найден! Подтвердите сделку в личном кабинете.
                    После подтверждения наш курьер заберет вещь и привезет на экспертизу в наш офис.
                    Вам ничего не нужно платить!
                  </p>
                </div>
              </div>
            </div>
            <div class="column small-12">
              <div class="row align-middle align-center">
                <div class="column small-12 large-1 text-center">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/3.svg">
                  </div>
                </div>
                <div class="column small-12 large-7 small-text-center">
                  <p>
                    Проверено! Сразу после экспертизы подлинности и проверки заявленных характеристик
                    товар отправится к покупателю, а вы получите оплату на свой банковский счет.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/*Body*/-->
      <div class="row">
        <div class="column landing-page-slide">
          <div class="row align-center">
            <div class="column small-12 text-center">
              <h1 class="landing-page-slide-title">Консьерж-сервис</h1>
            </div>
            <div class="column small-12 large-8 text-center">
              <p class="landing-page-subtitle">
                Вы хотите продать брендовые предметы своего гардероба, но боитесь, что продажа отнимет много времени?
                Для наших самых требовательных клиентов мы создали «Консьерж-сервис»,
                который максимально упрощает процесс онлайн-продаж на сайте.
              </p>
            </div>
            <div class="column small-12 text-center">
              <div class="row">
                <div class="column small-12 large-4">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/1.svg">
                  </div>
                  <div>
                    <p class="landing-page-slide-text">
                      Оставьте запрос на сайте, и мы приедем к вам на помощь.
                      Наша команда позаботится о бережном вывозе вещей  в удобное для вас время и доставит их в наш офис.
                    </p>
                  </div>
                </div>
                <div class="column small-12 large-4">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/2.svg">
                  </div>
                  <div>
                    <p class="landing-page-slide-text">
                      Мы создадим персональную карточку товара с подробным описанием вещи
                      и профессиональными фото и опубликуем ее на сайте.
                    </p>
                  </div>
                </div>
                <div class="column small-12 large-4">
                  <div class="landing-page-slide-icon">
                    <img src="images/icons/3.svg">
                  </div>
                  <div>
                    <p class="landing-page-slide-text">
                      Мы будем управлять вашими продажами,
                      а вы – получать прибыль от них!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 text-center">
          <h1 class="landing-page-slide-title">Вы — профессиональный продавец?</h1>
          <p>Мы подготовили для Вас специальные условия</p>
        </div>
        <div class="column small-12 text-center">
          <div class="row">
            <div class="column small-12 large-4">
              <div class="landing-page-slide-icon">
                <img src="images/icons/1.svg">
              </div>
              <div>
                <p class="landing-page-slide-text">
                  Чтобы стать партнером на нашем сайте пришлите нам информацию о вашем магазине на электронный адрес:
                  <b><a class="gold" href="mailto:pro@oskelly.ru">pro@oskelly.ru</a></b>
                </p>
              </div>
            </div>
            <div class="column small-12 large-4">
              <div class="landing-page-slide-icon">
                <img src="images/icons/2.svg">
              </div>
              <div>
                <p class="landing-page-slide-text">
                  В письме коротко расскажите про ваш ассортимент и размерный ряд. Укажите контактный телефон для связи.
                </p>
              </div>
            </div>
            <div class="column small-12 large-4">
              <div class="landing-page-slide-icon">
                <img src="images/icons/3.svg">
              </div>
              <div>
                <p class="landing-page-slide-text">
                  Наши менеджеры свяжутся с вами в ближайщее время.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>