@charset "utf-8";

@import 'fonts';
@import 'foundation-settings';
@import 'settings';

@import '../../node_modules/foundation-sites/scss/foundation';
$fa-font-path: '../../node_modules/font-awesome/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';
.fa {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
}
@import '../../node_modules/foundation-font-awesome-buttons/src/_ffab';
@import '../../node_modules/magnific-popup/src/css/main';
@import '../../node_modules/swiper/dist/css/swiper.css';
@import '../../node_modules/sumoselect/sumoselect.css';
@import '../../node_modules/ilyabirman-likely/release/likely.css';
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 16px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 3px;
$hamburger-types: (spin);
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers';
@import 'foundation';
@import 'data';
$ffab-angle: 0;
$ffab-overlay-background-color: transparent;
@include ffab-everything();
@import 'components/vendor-ffab';
@import 'components/vendor-sidr';
@import 'components/vendor-popup';
@import 'components/vendor-swiper';
@import 'components/vendor-typeahead';
@import 'components/vendor-sumoselect';
@import 'components/vendor-likely';
@import 'components/vendor-elevate-zoom';

@import "mixins/filter";

@import 'partials/header';
@import 'partials/header/header-panel';
@import 'partials/header/navbar';
@import 'partials/bottom-section';
@import 'partials/footer';
@import 'partials/footer-menu';
@import 'components/catalog-grid';
@import 'components/custom-inputs';
@import 'components/rating';
@import 'components/user-card';
@import 'components/comments';
@import 'components/progress-bar';
@import 'components/global';
@import 'components/type';
@import 'components/offset';
@import 'components/forms';
@import 'components/tables';
@import 'components/article';
@import 'components/sizes-tabs';
@import 'pages/index/top-section';
@import 'pages/index/slider';
@import 'pages/index/new-profiles';
@import 'pages/index/favorites';
@import 'pages/page';
@import 'pages/product';
@import 'pages/catalogue';
@import 'pages/product-add';
@import 'pages/order';
@import 'pages/profile';
@import 'pages/inviting';
@import 'pages/blog-index';
@import 'pages/blog-article';
@import "pages/brand";
@import "pages/brand-index";
@import "pages/landing";
@import "pages/just-in";
@import "pages/publication";
@import "components/vendor-fix";
